body {
  margin: 0;
  height: 100vh;
  min-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-main {
  border-style: solid;
  border-width: 1px 0;
  border-color: #111315;
}

.swal2-popup {
	background-color: #212529 !important;
}

.swal2-html-container {
  color: #fff !important;
}

.swal2-title {
  color: #fff !important;
}

#root {
  height: 100vh;
  min-width: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card-colors{
  background-color: #191C1F;
}

.footer {
  margin-top: auto !important;
  padding-bottom: 0 !important;
}

.footer-heart{
  text-align:center;
  font-family: open sans, sans-serif;
}

.footer-heart a{
  border-bottom: 1px solid #ad9dff;
  color: #ad9dff;
  padding-bottom: .25em;
  text-decoration: none;
}

.footer-heart a:hover{
  color:#cdc4fa; 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ad9dff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

.emoji{
  vertical-align: middle;
}